:root {
  --color-kanagawa-red-1: #43242b;
  --color-kanagawa-red-2: #d27e99;
  --color-kanagawa-red-3: #e46876;
  --color-kanagawa-green-1: #7aa89f;
  --color-kanagawa-green-2: #68ad99;
  --color-kanagawa-yellow-1: #836f4a;
  --color-kanagawa-yellow-2: #938056;
  --color-kanagawa-yellow-3: #c0a36e;
  --color-kanagawa-yellow-4: #e6c384;
  --color-kanagawa-yellow-5: #dca561;
  --color-kanagawa-yellow-6: #b98d7b;
  --color-kanagawa-blue-1: #9cabca;
  --color-kanagawa-blue-2: #6693bf;
  --color-kanagawa-blue-3: #7e9cd8;
  --color-kanagawa-purple-1: #16161d;
  --color-kanagawa-purple-2: #181820;
  --color-kanagawa-purple-3: #2a2a37;
  --color-kanagawa-purple-4: #363646;
  --color-kanagawa-purple-5: #54546d;
  --color-kanagawa-purple-6: #957fb8;
  --color-kanagawa-purple-7: #b8b4d0;
}
