body:not(.is-mobile) {
  .document-search-container {
    margin-inline: 0;

    &::after {
      inset-inline: 0;
      width: 100%;
    }
  }

  .mod-root {
    .document-search-container {
      padding-bottom: var(--size-4-4);
      margin-inline: var(--file-margins);
    }

    .document-search,
    .document-replace {
      padding-inline: 0;
    }
  }
}
